venv/
.cache
.*env
activate
*.pyc
__pycache__
dist
.eggs/
*.egg-info
build/
*.swp
*.orig
.project
.pydevproject
.idea
*~
*#
.coverage*
!docker/build
VERSION
_version.py.bld
.pytest_cache/
.ipynb_checkpoints
.Trash-*
.DS_Store
.vscode
**/_tmp
.data
*.so
